@model TinderSwipe.Models.User

@{
    ViewData["Title"] = "Tinder App";
}

<div class="card" style="width: 18rem;">
  
    <img src="@Model.ImgUrl" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <div>

    <div class="d-flex justify-content-between mt-3">
        
        <form asp-action="Like" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-success">♥</button>
        </form>

        <form asp-action="Dislike" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">X</button>
        </form>

    </div>


</div>